body {
    background: url("https://premierleague-static-files.s3.amazonaws.com/premierleague/photo/2017/11/30/66c05f51-0bdb-4338-9dd7-780794289e63/882108058.jpg");
    background-size: 100%;
}

.navbar-item {
    padding: 20px;
    padding-right: 50px;
}

h1 {
    color:  white;
    font-size: 50px;
    font-weight: 800;
    font-family: Amita monospace;
}

.content {
    margin: 40px 0px 0px 20px; 
    width: 400px;
    color: white;
}
.footer {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    opacity: 0.7;
    background: #1f1f14;
}

.foot {
    display: flex;
    color: white !important;
    padding-top: 16px !important;
}

.logo-image {
    width: 50px;
    height: 50px;
    size: 100%;
    border-radius: 50%; 
    margin: 0px 20px 0px 20px;
}

.match-info {
    line-height: 80%;
    margin-left: 30px; 
    margin-bottom: 30px;
    width: 350px;
    height: 50px;
}

.date-time {
    display: flex;
    width: 400px;
    height: 50px;
}

.footer-button {
    height : 50px;
    width: 200px;
    margin-left: 60px;
}

a:hover { 
    background-color: #ccccb3;
}

.days {
    padding-right: 40px;
}

.hours {
    padding-right: 40px;
}

.minutes {
    padding-right: 40px;
}

.seconds {
    padding-right: 40px;
}

.vertical-line{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    width:          1px; 
}

.logo-info {
    text-align: center;
}
.blank {
    width: 50px;
}